{{ ansible_managed | comment }}

[rancher-rke2-common-{{ rke2_install_channel }}]
name=Rancher RKE2 Common ({{ rke2_install_channel }})
baseurl=https://{{ rke2_rpm_repo_site }}/rke2/{{ rke2_install_channel }}/common/centos/{{ rke2_os_major_version }}/noarch
enabled=1
gpgcheck=1
repo_gpgcheck=0
gpgkey=https://{{ rke2_rpm_repo_site }}/public.key
